@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*::-webkit-scrollbar {
  display: none;
}

a {
  color: #38BDF8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    --background: 217 24% 11%;
    --foreground: 0 0% 100%;
    --card: 217 24% 11%;
    --card-foreground: 0 0% 100%;
    --popover: 217 24% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 199 94% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 33% 17%;
    --muted-foreground: 210 40% 75%;
    --accent: 35 92% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 199 94% 60%;
    --chart-1: 199 94% 60%;
    --chart-2: 217 33% 17%;
    --chart-3: 35 92% 50%;
    --chart-4: 199 84% 74%;
    --chart-5: 35 92% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 217 24% 11%;
    --foreground: 0 0% 100%;
    --card: 217 24% 11%;
    --card-foreground: 0 0% 100%;
    --popover: 217 24% 11%;
    --popover-foreground: 0 0% 100%;
    --primary: 199 94% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 33% 17%;
    --muted-foreground: 210 40% 75%;
    --accent: 35 92% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 199 94% 60%;
    --chart-1: 199 94% 60%;
    --chart-2: 217 33% 17%;
    --chart-3: 35 92% 50%;
    --chart-4: 199 84% 74%;
    --chart-5: 35 92% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

/* Change highlight color */
::selection {
  background-color: rgba(56, 189, 248, 0.3);
}

::-moz-selection {
  background-color: rgba(56, 189, 248, 0.3);
}

@layer utilities {
  .shadow-inner-right {
    box-shadow: inset -9px 0 6px -1px rgb(0 0 0 / 0.02);
  }
}

.artifact-content {
  line-height: calc(1.625em + 2px);
}

.inline-code {
  font-family: monospace;
  background-color: #1E293B;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.9em;
}
